.img-container {
  position: relative;
  margin: 5px;
}

.img-container  p {
  position: absolute;
  top: 0;/*画像の左上に配置*/
  left: 0;
  margin: 0; /*余計な隙間を除く*/
  color: white;/*文字を白に*/
  background: rgba(0,0,0,0.4);/*背景色*/
  font-size: 15px;
  line-height: 1;/*行高は1に*/
  padding: 5px 10px;/*文字周りの余白*/
}

/* SmartPhone */
.img-container img {
  height: 250px;
}

.slick-list {
  height: 250px;
  margin-bottom: 50px;
}

/* Tablet */
@media screen and (min-width:600px) { 
  .img-container img {
    height: 380px;
  }

  .slick-list {
    height: 380px;
    margin-bottom: 50px;
  }
}

/* PC */
@media screen and (min-width:1025px) { 
  .img-container img {
    height: 500px;
  }

  .slick-list {
    height: 500px;
    margin-bottom: 50px;
  }
}

.slick-prev:before, .slick-next:before {
  color: #000
}